
.navbar {
    background-color: #ab31d8;
   
}.quem-somos {
    background-color: rgb(126, 196, 22);
}

.margin {
    padding-top: 30px;
    padding-bottom: 30px;
}
.parceiros {
    background-color: #35044b;
    color: aliceblue;
}
.bg-footer {
    background-color: #0b0985;
    color: aliceblue;
}
